.nav-item + .nav-item::before{
  content:  '/';
  padding: 0 12px;
  color: $neutral-300;
  font-weight: 700;
}

.nav-item{
    display: flex;
    font-weight: 500;
}

.nav-link{
    color: $neutral-600;
}

@media (max-width:767px) {
.nav-item + .nav-item::before{
  padding: 0 8px;
}
.nav-item{
font-size: 14px;
}
}