
.secion-lined{
    border-bottom: 1px solid $neutral-300;
}

.time-desc{
    border-left: 1px solid $neutral-900;
    padding-left: 8px;
}

.time-list{
    list-style-type: disc;
    padding-left: 24px;
}

.concept-item{
    padding-left: 12px;
    border-left: 3px solid $neutral-300;
}

.bi{
    padding-right: 8px;
    vertical-align: bottom;
}

